/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack - applies to every element */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 13px;
  line-height: 1.4;
  color: #606161;
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: 0 auto;
}


header {
  background: url(http://i.imgur.com/El2JaGy.jpg);
  background-size: cover;
  color:white;
  height: 678px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

nav{
  height: 100px;
  text-align: left;
  font-size: 24px;
  font-weight: 800;
  padding: 20px 60px 20px 60px;
}

section {
  background-color: #f0efef;
  height: 500px;
  color: #033048;
  font-size: 20px;
  font-weight: 600;
  padding: 60px 60px 0px 60px;
}

section p {
  font-size: 13px;
  font-weight: 300;
  padding: 10px 0px 10px 0px;

}

section ul {
  font-size: 13px;
  font-weight: 300;
  list-style-type: circle;
  padding: 10px 50px 0px 50px;
  line-height: 40px;
}

.testimonial {
  text-align: center;
  background: url(http://i.imgur.com/Xp3KIds.jpg);
  background-size: cover;
  color: white;
  height: 300px
}

.testimonial p {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 80px;
}

.testimonial p span {
  font-style: italic;
  font-weight:300;
}

.action {
  background-color: #f9e42e;
  text-align: center;
  height: 100px;
}

footer {
  font-size: 9px;
  font-weight:600;
  color: white;
  background-color: #121212;
  height: 300px;
  text-align: center;
}

footer ul {
  padding: 10px 10px 80px 10px;
}

footer ul li {
  display: inline;
   padding: 10px 15px 10px 15px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.firstbutton {
  background: #f9e42e;
  border: none;
  color: #033048;
  font-size: 14px;
  font-weight: 800;
  padding: 10px 50px;
  border-radius: 5px;
}

.secondbutton {
  background: #033048;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  font-size: 12px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 50px;
}

footer h1 {
  font-size: 24px;
  color: #f9e42e;
  font-weight: 800;
  padding: 50px 20px;
}

header h2 {
  padding: 100px 60px 100px 60px;
}




